.san-francisco {
    background-image: url(reyourwebby/200_valley.jpg);
}
.brisbane {
    background-image: url(reyourwebby/500_airport.jpg);
}
.daly-city {
    background-image: url(reyourwebby/bayshore.jpg);
}
.san-mateo {
    background-image: url(reyourwebby/littlefield_1.jpg);
}
.burlingame {
    background-image: url(reyourwebby/n_hill.jpg);
}
.south-sf {
    background-image: url(reyourwebby/s_hill.jpg);
}
.belmont {
    background-image: url(reyourwebby/Stanton_1.jpg);
}
.san-carlos {
    background-image: url(reyourwebby/stanton_2.jpg);
}
.redwood-city {
    background-image: url(reyourwebby/500_airport.jpg);
}
.colma {
    background-image: url(reyourwebby/500_airport.jpg);
}
.sam-stapleton {
    background-image: url(sam_backdrop.jpg);
}
